body { 
	padding-top: 70px;
	height: 100%;
 }

.bluetheme {
    background: linear-gradient(to bottom, #07315C, #0C4A81);
    font-family: 'Cinzel', serif;
}

.bluetheme .navbar-brand {
    padding: 5px;
}

.whitetext {
    color: white;
    font-size: 26px;
    margin-top: 8px;
    margin-bottom: 3px;
}

.btn-radius{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.btn-primary{
	padding: 6px 12px;
  	font-size: 14px;
  	font-weight: normal;
  	line-height: 1;
  	color: #555;
  	text-align: center;
  	background-color: #eee;
  	border: 1px solid #ccc;
  	border-radius: 4px;
}

.panel-table > thead > tr > th{
	background: linear-gradient(to bottom, #07315C, #0C4A81);
	border-bottom: 0;
}

.panel-table > thead > tr > th> a{
	color: #fff;
}

.table tbody tr:nth-child(2n) {
    background: #eee;
}

/*footer at bottom*/
html{
	height: 100%;
}

.wrapper{
	width: 100%;
	display: table;
	table-layout: fixed;
	height: 100%;
}

.page{
	display: table-row;
}

.footer{
	overflow: hidden;
	display: table-footer-group;
	height: 1%;
}

.modal{
	display: block;
}
.fade{
	opacity: 1;
}
.width1{
	width: 350px;
}
.width2{
	width: 440px;
}
.width3{
	width: 980px;
}
.modal-body{
	font-size: 13px;
}
.modal-header{
	background: linear-gradient(to bottom, #07315C, #0C4A81);
	color: #fff;
}
.modal-content{
	top: -350px;
}
.close{
	color: #fff;
	opacity: 1;
}
.close:hover{
	opacity: .5;
	color: #fff;
}
.common-form .form-control{
	margin-bottom: 20px;
}
.form-control{
	padding: 6px;
	font-size: 13px;
}
textarea.form-control
{
    overflow: auto;
    height: 90px;
    max-height: 250px;
    resize: vertical;
}
label .glyphicon{
	top: -3px;
	left: 3px;
}
.glyphicon-asterisk{
	color: #ff0000;
}
.dropdown .btn{
	margin-bottom: 20px;
	text-align: right;
}
.glyphicon{
	font-size: 8px;
}
.glyphicon-remove{
	margin-right: 5px;
	top: 0;
}
/*.counter{
	padding: 6px;
	height: 34px;
	display: inline-block;
	border: 1px solid #ddd;
}*/